/*
|------------------------------------------------
| TAILWIND THEME TOKENS
|------------------------------------------------
*/

@theme inline {
  /*
   |------------------------------------------------
   | RADII
   |------------------------------------------------
   */

  --radius-button:
    var(--radius-button);

  --radius-card:
    var(--radius-card);

  --radius-input:
    var(--radius-input);

  --radius-modal:
    var(--radius-modal);

  --radius-container:
    var(--radius-container);

  --radius-sidebar:
    var(--radius-sidebar);

  --radius-dropdown:
    var(--radius-dropdown);
  
  --radius-badge:
    var(--radius-badge);
}