/*
|------------------------------------------------
| TAILWIND THEME TOKENS
|------------------------------------------------
*/

@theme inline {
  /*
   |------------------------------------------------
   | TYPOGRAPHY
   |------------------------------------------------
   */

  --font-primary:
    var(--font-primary);

  --font-secondary:
    var(--font-secondary);

  --font-mono:
    var(--font-mono);

}